<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/style.css}" />

    <title>Document</title>
</head>

<body>
    <h1>Virtual Pet Shelter</h1>
        <h2 th:each="shelter:${shelters}">

            <a th:href="@{'/shelters/' + ${shelter.id}}" th:text="${shelter.id}">shelters</a>


        </h2>
    

</body>

</html>